body {
  margin: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile {
  width: 150px;
}

.card {
  width: 400px;
  margin: 0 auto;
  background-color: wheat;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid palegreen;
  color: black;
}

.font {
  border: 1px dotted skyblue;
}
